{% load static %}



<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="top-header-content h-100 d-flex align-items-center justify-content-between">
                        <!-- Top Headline -->
                        <div class="top-headline">
                            <p>Welcome to <span>Cryptos</span></p>
                        </div>
                        <!-- Top Login & Faq & Earn Monery btn -->
                        <div class="login-faq-earn-money">
                            <a href="https://www.linkedin.com/in/julio-dos-reis-firmino-6b11246a/">{{ request.session.message }}</a>
                            {% if user.is_authenticated %}
                                <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{ user.username|capfirst }}<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                  <li><a class="active" href="{% url 'password_change' %}">Change Password</a></li>
                                  <li><a class="active" href="{% url 'logout:index' %}" >Logout</a></li>
                                </div>
                            {% else %}
                                <a href="{% url 'login:index' %}">Login | Register</a>
                                <a href="#">FAQ</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="cryptos-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cryptosNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{% url 'home:index' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'home:index' %}">Home</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="blog.html">Articles</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="elements.html">Elements</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul class="dropdown">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="blog.html">Articles</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="#">Dropdown</a>
                                                    <ul class="dropdown">
                                                        <li><a href="index.html">Home</a></li>
                                                        <li><a href="about-us.html">About Us</a></li>
                                                        <li><a href="blog.html">Articles</a></li>
                                                        <li><a href="contact.html">Contact</a></li>
                                                        <li><a href="elements.html">Elements</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                {% if user.is_authenticated %}
                                <li><a href="{% url 'list:coins' %}">Settings Alerts</a></li>
                                {% else %}
                                <li><a href="#">Contact</a></li>
                                {% endif %}
                            </ul>

                            <!-- Newsletter Form -->
                            <div class="header-newsletter-form">
                                <form action="#" method="post">
                                    <input type="email" name="email" id="email" placeholder="Newsletter">
                                    <button type="submit">Subscribe</button>
                                </form>
                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->