{% extends "base.html" %}

{% block content %}
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            <input id="new_password1" type="password" class="form-control custom-input" name="new_password1" placeholder="New password" required autofocus style="border-radius: 30px;">
            <br>
            <input id="new_password2" type="password" class="form-control custom-input" name="new_password2" placeholder="Repeat the password" required autofocus style="border-radius: 30px;">
            <br>
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>
{% endblock %}
